* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}

a {
  font-style: inherit;
  text-decoration: none;
  color: green;
  margin: 5px;
}

/* a:hover {
  border-bottom: 1px solid black;
} */
