ul {
  display: flex;
  margin: 7px 20px;
  list-style: none;
}

li {
  padding: 8px;
}

li:hover {
  border-bottom: 1px solid green;
}

div.cart {
  border: 1px solid #ddd;
  margin-top: 3px;
  padding: 5px;
}
