nav.main.menu li:hover {
  background-color: #fff;
}

li a {
  text-decoration: none;
  font-style: inherit;
  color: cornflowerblue;
}

div.img.box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

div.img.box img {
  margin: 10px;
  width: 50%;
}
