div.header.title {
  margin: 30px auto;
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* div.userInfo {
  margin-left: auto;
} */

ul.main.menu {
  flex: 8;
  list-style: none;
  /* border: 1px solid green; */
  height: 50px;
  display: flex;
}

ul.main.menu li {
  font-size: 20px;
  padding: 6px;
  margin: 8px 20px;
  width: 6rem;
}

ul.main.menu li:hover {
  cursor: pointer;
  border-bottom: 2px solid #ddd;
}

ul.main.menu div.side.title:last-child {
  display: flex;
  margin-left: auto;
}

li.register div.user,
li.registermenu div.register {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

li.categorymenu div.category,
li.registermenu div.register {
  margin-top: 6px;
  display: none;
  flex-direction: column;
}

li.categorymenu:hover div.category,
li.registermenu:hover div.register {
  display: flex;
}
